<div class="container">
  <form #loginForm="ngForm">
    <h1 class="login-title">Log In</h1>
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control"
        #emailControl="ngModel"
        placeholder="*Enter Email"
        [(ngModel)]="email" 
        name="email"
        maxlength="40"
        email required>
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control"
        #passwordControl="ngModel"
        placeholder="*Enter Password"
        [(ngModel)]="password" 
        name="password"
        maxlength="40"
        type="password" required>
    </div>
    <button [disabled]="!loginForm.form.valid" 
    type="submit" 
    class="btn btn-success"
    (click)="signin()">Sign In</button>

    <p *ngIf="msg" class="text-danger">{{ msg }}</p>

  </form>
</div>